:root {
    --cor-roxa-escura: #660066;
    --cor-roxa-meio-tom: #996699;
    --cor-roxa-clara: #cc99cc;
}
body {
    font-family: Arial, sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* Header */
header {
    width: 100vw;
    position: fixed;
    background-color: var(--cor-roxa-meio-tom);
    color: white;
    padding: 1.5rem 2rem;
    border-radius: 30px;
    box-shadow: 0px 5px 15px var(--cor-roxa-escura);
    margin-bottom: 20px;
}

nav {
    justify-content: space-between;
    margin-left: 20px;
    gap: 20px;
    display: flex;
}

header ul {
    list-style: none;
    display: flex;
    gap: 2rem;
}

header ul li {
    font-size: 1.1rem;
}

/* Main */
main {
    flex: 1;
    padding: 2rem;
    background-color: #fff;
}

main h1 {
    margin-bottom: 1rem;
}

/* Footer */
footer {
    background-color: var(--cor-roxa-meio-tom);
    color: white;
    padding: 2rem;
    position: relative;
    min-height: 150px;
}

