
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* Header */
header {
    background-color: #660066;
    color: white;
    padding: 1.5rem 2rem;
    border-radius: 30px;
}

nav {
    justify-content: space-between;
    margin-left: 20px;
    gap: 20px;
    display: flex;
}

header ul {
    list-style: none;
    display: flex;
    gap: 2rem;
}

header ul li {
    font-size: 1.1rem;
}

/* Main */
main {
    flex: 1;
    padding: 2rem;
    background-color: #fff;
}

main h1 {
    margin-bottom: 1rem;
}

/* Footer */
footer {
    background-color: #660066;
    color: white;
    padding: 2rem;
    position: relative;
    min-height: 150px;
}

